<app-navbar></app-navbar>

<br>
<h1>Pedidos</h1>
<div *ngIf="productos.length > 0; else noproductos" class="row justify-content-center w-100">
    <form *ngFor="let p of productos" class="contenedor col-md-2.5">
     <li class="list-group carta" *ngIf="p.pedido == true">
       <div [ngClass]="{pedido: p.pedido}" class="shadow bg-white rounded pedido" (click)="editarProductos($event, p)"> 
        <div class="email">
            <h6 class="correo">{{p.email}}</h6>
        </div>   
        <h6 class="datos">Producto: {{p.name}}</h6>
        <h6 class="datos">Descripción: {{p.descripcion}}</h6>
        <h6 class="datos">Cantidad: {{p.cantidad}} ud</h6>
       </div>
       <div *ngIf="editando && editandoProductos.id == p.id" class="cantidad">
        <form (ngSubmit)="p.pedido = false; actualizarPedidos()" class="shadow mb-5 bg-white rounded" >
            <button type="submit" class="btn btn-primary" >
                Pedido listo
            </button>
        </form>
   </div>
    </li>
    </form>
</div>   

<ng-template #noproductos>
    <p>No hay productos</p>
</ng-template>

<app-footer></app-footer>
