<app-navbar></app-navbar>
<h1>Pedidos</h1>
<div *ngIf="productos.length > 0; else noproductos" class="body">
    <form *ngFor="let p of productos" >
    <ul >
     <li  class="list-group" >
       <div [ngClass]="{oferta: p.oferta}" class="shadow bg-white rounded oferta"> 
        <h6>Cliente: {{p.email}}</h6>
        <h6>Producto: {{p.name}}</h6>
        <h6>Descripción: {{p.descripcion}}</h6>
        <h6>Cantidad: {{p.cantidad}} ud</h6>
        <button (click)="borrarPedidos($event, p)" class="btn btn-primary">
            Pedido listo
        </button>
       </div>
       <div *ngIf="editando && editandoProductos.id == p.id" class="cantidad">
        <form (ngSubmit)="producto.name = p.name; agregarPedidos()" class="shadow p-3 mb-5 bg-white rounded" >
            <label>Cantidad:</label>
            <div class="form-group">
                <input type="number" name="cantidad" [(ngModel)]="producto.cantidad" class="form-control" placeholder="cantidad del producto" />
            </div>
            <img src="../../../assets/cancelar.png" class="icono" alt="drop-images" (click)="editarProductos()" />
            <button type="submit" [disabled]="producto.cantidad <= 0"><img src="../../../assets/comprobar.png" class="icono" alt="drop-images"   /></button>
        </form>
   </div>
    </li>
    </ul>
    </form>
</div>   

<ng-template #noproductos>
    <p>No hay productos</p>
</ng-template>