
  <app-navbar></app-navbar>
  <app-carrusel></app-carrusel>

  <h1>Ofertas del mes</h1><hr class="linea_izquierda"><hr class="linea_derecha">
    
  <div *ngIf="productos.length > 0; else noproductos" class="body">
    <form *ngFor="let p of productos" >
    <ul >
     <li  class="list-group" *ngIf="p.oferta == true && user$ | async as user;">
       <div [ngClass]="{oferta: p.oferta}" class="shadow bg-white rounded oferta" > 

        <div class="zoom">
           <img [src]="p.imagenUrl" class="imagen" alt="drop-images" (click)="editarProductos($event, p)" />
        </div>

       <div class="cinta uno">
        <a >{{p.name}}</a>
       </div>
        <h6>RD$ {{p.precio}}.00</h6>
       </div>
       <div *ngIf="editando && editandoProductos.id == p.id" class="cantidad">
        <form (ngSubmit)="producto.name = p.name; producto.descripcion = p.descripcion; producto.email = user.email; 
        producto.pedido = true; producto.precio = p.precio; agregarPedidos()" class="shadow mb-5 bg-white rounded" >
            <div class="form-group"> 
              <input type="number" name="cantidad" [(ngModel)]="producto.cantidad" class="form-control" placeholder="cantidad del producto" />
          <button type="submit" [disabled]="producto.cantidad <= 0"><img src="../../../assets/comprobar.png" class="icono" alt="drop-images"   /></button>
          </div>
        </form>
   </div>
    </li>
    </ul>
    </form>

      <h1>Productos</h1><hr class="comida_izquierda"><hr class="comida_derecha">

    <form *ngFor="let p of productos" >
      <ul >
       <li class="list-group" *ngIf="p.oferta == false && user$ | async as user;" >
         <div class="shadow bg-white rounded "> 
    
          <div class="zoom">
             <img [src]="p.imagenUrl" class="imagen" alt="drop-images" (click)="editarProductos($event, p)" />
          </div>
    
         <div class="cinta uno">
          <a >{{p.name}}</a>
         </div>
          <h6>RD$ {{p.precio}}.00</h6>
         </div>
         <div *ngIf="editando && editandoProductos.id == p.id" class="cantidad">
          <form (ngSubmit)="producto.name = p.name; 
          producto.descripcion = p.descripcion; producto.email = user.email; producto.pedido = true; producto.precio = p.precio;
          agregarPedidos()" class="shado bg-white rounded" >
              <!-- <label>Cantidad:</label> -->
              <div class="form-group">
                  <!-- <input type="number" name="cantidad" [(ngModel)]="editandoProductos.cantidad" class="form-control"/>  -->
                  <input type="number" name="cantidad" [(ngModel)]="producto.cantidad" class="form-control" placeholder="cantidad del producto" />
              
              <!-- <img src="../../../assets/cancelar.png" class="icono" alt="drop-images" (click)="editarProductos()" /> -->
              <button type="submit" [disabled]="producto.cantidad <= 0"><img src="../../../assets/comprobar.png" class="icono" alt="drop-images"   /></button>
              </div>
              <!-- <button (click)="editarProductos($event, p)" class="btn btn-success btn-block" >
                  Cancelar
              </button> -->
              <!-- <button type="submit" [disabled]="producto.cantidad === 0" class="btn btn-success btn-block" >
                  Seleccionar
              </button>
               -->
          </form>
     </div>
      </li>
      </ul>
      </form>
      
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <app-footer></app-footer>
<!-- <h1>Productos</h1><hr class="comida_izquierda"><hr class="comida_derecha"> -->

<!-- <div *ngIf="productos.length > 0; else noproductos">
  <form *ngFor="let p of productos" >
  <ul >
   <li class="list-group" *ngIf="p.oferta == false && user$ | async as user;" >
     <div class="shadow bg-white rounded "> 

      <div class="zoom">
         <img [src]="p.imagenUrl" class="imagen" alt="drop-images" (click)="editarProductos($event, p)" />
      </div>

     <div class="cinta uno">
      <a >{{p.name}}</a>
     </div>
      <h6>RD$ {{p.precio}}.00</h6>
     </div>
     <div *ngIf="editando && editandoProductos.id == p.id" class="cantidad">
      <form (ngSubmit)="producto.name = p.name; producto.descripcion = p.descripcion; producto.email = user.email; 
      producto.pedido = true; producto.precio = p.precio; agregarPedidos()" class="shadow  mb-5 bg-white rounded" >
      <div class="form-group">
        <input type="number" name="cantidad" [(ngModel)]="producto.cantidad" class="form-control" placeholder="cantidad del producto" />
    <button type="submit" [disabled]="producto.cantidad <= 0"><img src="../../../assets/comprobar.png" class="icono" alt="drop-images"   /></button>
    </div>
      </form>
 </div>
  </li>
  </ul>
  </form>
</div> -->

  <!-- pie de pagina -->
    <!-- <footer class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; Your Website</small>
      </div>
    </footer> -->

   
  <!-- <img src="../../../assets/dona.jpg" alt="drop-images" class="bocadillo shadow "/>
  <img src="../../../assets/comida.jpg" alt="drop-images" class="comida shadow "/> -->
  <!-- <img src="../../../assets/dona.jpg" alt="drop-images" class="shadow "/>
  <img src="../../../assets/dona.jpg" alt="drop-images" class="shadow "/> -->
    
<ng-template #noproductos>
    <p>No hay productos</p>
</ng-template> 
    
  