<!-- <nav class="navbar navbar-dark bg-dark ">
  <a class="navbar-brand" href="/">HOME</a>
  <a href="login">login</a>
  <a href="registro">registro</a>
  <a href="navbar">navbar</a>
  <a href="productos">productos</a>
  <a href="productos-form">productos form</a>

  </nav> -->
  
  <app-navbar></app-navbar>
  <app-carrusel></app-carrusel>
  <body>
  <h1>Ofertas del mes</h1><hr class="linea_izquierda"><hr class="linea_derecha">
  
  <!-- pie de pagina -->
  <footer class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
</body>
  
  <!-- <img src="../../../assets/dona.jpg" alt="drop-images" class="bocadillo shadow "/>
  <img src="../../../assets/comida.jpg" alt="drop-images" class="comida shadow "/> -->
  <!-- <img src="../../../assets/dona.jpg" alt="drop-images" class="shadow "/>
  <img src="../../../assets/dona.jpg" alt="drop-images" class="shadow "/> -->
    
 
    
  