<app-navbar></app-navbar>

<br><h1>Carrito de compra</h1>
<!-- <frameset></frameset> -->
<div class="card card-body">
<div *ngIf="productos.length > 0; else noproductos" >
<div *ngFor="let p of productos" class="body">
    <form *ngIf="user$ | async as user;" class="contenedor">
     <li *ngIf="p.email == user?.email && p.pedido == true " class="list-group carta" >
       <div [ngClass]="{oferta: p.oferta}" class="shadow bg-white rounded oferta"> 
        <!-- <div class="email">
            <h6 class="correo">{{p.email}}</h6>
        </div>    -->
        <div class="zoom">
            <img [src]="p.imageUrl" class="imagen" alt="drop-images" (click)="editarProductos($event, p)" />
         </div>
        <!-- <h6>{{p.descripcion}}</h6>  -->
        <div class="cinta uno">
         <a >{{p.name}}</a>
         <!-- <input type="text" name="name" [(ngModel)]="producto.name" > <a>{{p.name}}</a> -->
         <!-- <input type="text" name="name" [(ngModel)]="producto.name" >  -->
        </div>
         <h6>RD$ {{p.precio}}.00</h6>
         <h6>Descripción: {{p.descripcion}}</h6>
         <h6>Cantidad: {{p.cantidad}}ud</h6>
         <h6>Total: RD${{p.precio * p.cantidad}}.00</h6>
        <!-- <h6 class="datos">Precio: {{p.precio * p.cantidad}}</h6> -->
        <button (click)="borrarPedidos($event, p)" class="btn btn-primary boton">
            Eliminar
        </button>
       </div>
       <div *ngIf="editando && editandoProductos.id == p.id" class="cantidad">
        <form (ngSubmit)="producto.name = p.name; agregarPedidos()" class="shadow p-3 mb-5 bg-white rounded" >
            <label>Cantidad:</label>
            <div class="form-group">
                <input type="number" name="cantidad" [(ngModel)]="producto.cantidad" class="form-control" placeholder="Cantidad del producto" />
            </div>
            <img src="../../../assets/cancelar.png" class="icono" alt="drop-images" (click)="editarProductos()" />
            <button type="submit" [disabled]="producto.cantidad <= 0"><img src="../../../assets/comprobar.png" class="icono" alt="drop-images"   /></button>
        </form>
   </div>
    </li>
    </form>
</div> 
</div>


<h6 class="datos">Monto total: RD${{total}}.00</h6>
<div class="row justify-content-center ">
    <ngx-paypal [config]="payPalConfig" class="col-md-8"></ngx-paypal>
</div>
   
  
</div>

<ng-template #noproductos>
    <p>No hay productos</p>
</ng-template>

<app-footer></app-footer>