form {
    width: 42%;
    float: left;
    margin: 1cm;
    margin-top: 40px;
    background-image: url(../../../assets/fondo2.jpg);
}

h4 {
    font-size: xx-large;
    text-indent: 2cm;
    line-height: 3cm;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    font: italic bold 30px Georgia, Serif;
    color: white;
    
}

label {
    font: italic bold 25px Georgia, Serif;
    color: rgb(255, 255, 255);
    line-height: 60px;
}

button {
    background-color: #007BFF;
}

