form {
    width: 42%;
    float: left;
    
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 1cm;
    margin-top: 40px;
}

h4 {
    font-size: xx-large;
    text-indent: 2cm;
    line-height: 3cm;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    font: italic bold 50px Georgia, Serif;
    text-shadow: -4px 3px 0 #4286f4;
}

label {
    font: italic bold 25px Georgia, Serif;
    
    line-height: 60px;
}

