<app-navbar></app-navbar>

<div class="card card-body" class="" >

    <h4>Registro de productos</h4>
    
    <div style="padding-left: 1.5cm;">
        <app-subir-imagen (newItemEvent)="agregarUrl($event)"></app-subir-imagen>
    </div>


    <form (ngSubmit)="producto.oferta = false; agregarProductos()" class="shadow p-4 mb-1 bg-white rounded" >
        <div class="row col-xs-12">
        <div class="form-group" class="col-md-6">
            <label>Nombre:</label>
            <input type="text" name="name" [(ngModel)]="producto.name" class="form-control" placeholder="Nombre de producto">
        </div>
        <div class="form-group" class="col-md-6">
            <label>Descripcion:</label>
            <input type="text" name="descripcion" [(ngModel)]="producto.descripcion" class="form-control" placeholder="Descripcion de producto">
        </div>
        </div>
        <div class="row col-xs-12 " >
        <div class="form-group" class="col-md-6">
            <label>Cantidad:</label>
            <input type="number" name="cantidad" [(ngModel)]="producto.cantidad" class="form-control" placeholder="cantidad del producto">
        </div>
        <div class="form-group" class="col-md-6">
            <label>Categoria:</label>
            <select name="Categoria" class="form-control" [(ngModel)]="producto.categoria">
                <option value="Bebida">Bebida</option>
                <option value="Comida">Comida</option>
                <option value="Postre">Postre</option>
                <option value="Bocadillo">Bocadillo</option>
            </select>
            <!-- <input type="text" name="Categoria" [(ngModel)]="producto.categoria" class="form-control" placeholder="Categoria del producto"> -->
        </div>
        </div>
        <div class="row col-xs-12 " >
        <div class="form-group" class="col-md-6">
            <label>Precio:</label>
            <input type="number" name="precio" [(ngModel)]="producto.precio" class="form-control" placeholder="Precio del producto">
        </div>
        </div>
        
        <button type="submit" class="btn mt-4 btn-dark btn-block col-md-12">
            Guardar
        </button>
    
    </form>
</div>


<!-- <app-footer></app-footer> -->