<app-navbar></app-navbar>
<!-- <h3 class="card-title text-center">Envio de correo a usuarios</h3>
<div *ngIf="productos.length > 0;" class="card mt-2" >
    <h5>Usuarios registrados </h5>
  <div *ngFor="let p of productos" class="card-body" >  
    <strong >{{ p.email }}</strong>
    </div>
    <div class="form-group text-center mt-5">
      <button class="btn btn-primary" (click)="onSendEmail()">
        Enviar correo
      </button>
    </div>
  </div>
  
  <ng-template #loading>
    Loading....
  </ng-template> -->

  <br>
  <h1>Envio de correo electronico</h1>

  <div class="card mt-5" ><br>
    <h3 class="card-title text-center">Ingrese la dirección de correo del destinatario</h3>
    <div class="card-body ">
      <div class="form-group">
        <input type="email" class="form-control"  [formControl]="userEmail" required/>
      </div> 
      </div>
      <div class="form-group text-center">
        <button class="btn btn-primary btn-lg" (click)="onReset()">
          Enviar
        </button>
    </div>
  </div>

  <!-- <div class="card mt-5" *ngIf="productos.length > 0;" >
    <h3 class="card-title text-center">Destinatarios</h3>
    <div class="card-body row justify-content-left w-100" *ngFor="let p of productos;" >
      <ul>
        <a>{{p.email}}</a>
      </ul>
      </div>
  </div> -->