<app-navbar></app-navbar>

  <br>
  <h1>Envio de correo electronico</h1>

  <div class="card mt-5" ><br>
    <h3 class="card-title text-center">Ingrese la dirección de correo del destinatario</h3>
    <div class="card-body ">
      <div class="form-group">
        <input type="email" class="form-control"  [formControl]="userEmail" required/>
      </div> 
      </div>
      <div class="form-group text-center">
        <button class="btn btn-primary btn-lg" (click)="onReset()">
          Enviar
        </button>
    </div>
  </div>

 