img {
    height: 30px;
    width: 30px;
}

.navbar-brand {
    font-size: 16px;
}

.nombre {
    font-size: 30px;
    font-family: "algerian";
}

.navbar {
    height: 40px;
    width: 100%;
}

.menu {
    border: transparent;
    background: transparent;
    /* position: absolute; */
    
}

.btn {
    border: transparent;
    background: transparent;
    /* position: absolute; */
    /* position: relative; */
    /* left: 340px;
    top: -20px; */
    
}

.sesion {
    
    background: #007BFF;
    border: transparent;
    text-align: center;
}

.carrito {
    background: transparent;
    border: transparent;

}

.carrito:hover .car {-webkit-transform:scale(0.9);transform:scale(0.9);}
.carrito {overflow:hidden;}

.menu:hover .icono {-webkit-transform:scale(0.9);transform:scale(0.9);}
.menu {overflow:hidden;}

.logo {
    width: 80px;
    height: 50px;
}

.cont{
    height:120%;
    /* padding-top:0px; */
    float:right;
    padding-left: 30px;
}


input[type="search"]{
    width:170px;
    /* margin:10px; */
    /* padding:10px 16px; */
    border-radius:32px;
    outline:none;
    border:2px solid #ffffff;
    background:#ffffff;
    transition:all 0.5s;
    
}
input[type="search"]:focus{
    background:#fff;
    width:300px;
    padding-left: 30px;
}