
<ng-template #contenido let-modal>
    <div  class="modal-header">
        <h4 class="modal-tittle">Titulo Modal</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-label="true">&times;</span>        
        </button>
    </div>


    
    <div class="modal-body">
        <div *ngIf="productos.length > 0; else noproductos" class="row" >
            <ul > 
             <li *ngFor="let p of productos" class="list-group " >
                 
                   <button (click)="editarProductos($event, p)" class="btn btn-primary">
                       Editar
                   </button>
                   <!-- <app-modal-editar></app-modal-editar> -->
           
                  <div *ngIf="editando && editandoProductos.id == p.id">
                       <form (ngSubmit)="actualizarProductos()" class="shadow p-3 mb-5 bg-white rounded" >
                           <div class="card-body mb-1" >
                               <img src='{{p.imagenUrl}}' alt="drop-images" />
                           </div>
                           <label>Nombre:</label>
                           <div class="form-group mt-1">
                               <input type="text" name="name" [(ngModel)]="editandoProductos.name" class="form-control">
                           </div>
                           <label>Descripcion:</label>
                           <div class="form-group">
                               <input type="text" name="descripcion" [(ngModel)]="editandoProductos.descripcion" class="form-control">
                           </div>
                           <label>Cantidad:</label>
                           <div class="form-group">
                               <input type="number" name="cantidad" [(ngModel)]="editandoProductos.cantidad" class="form-control"/> 
                           </div>
                           <label>Categoria:</label>
                           <div class="form-group">
                               <input type="text" name="categoria" [(ngModel)]="editandoProductos.categoria" class="form-control"/> 
                           </div>
                           <label>Precio:</label>
                           <div class="form-group">
                               <input type="number" name="precio" [(ngModel)]="editandoProductos.precio" class="form-control"/> 
                           </div>
           
                           <button type="submit" class="btn btn-success btn-block">
                               Actualizar
                           </button>
                           
                       </form>
                  </div>
               </li>
             </ul>
           </div>
 
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" >
            Enviar
        </button>
    </div>
</ng-template>

<button type="button" class="btn btn-outline-danger" (click)="modal.open(contenido)">modal</button>

