
<div class="card-body">
<div class="shadow p-3 mb-1 bg-white rounded">
    
        <div class="card">
            <div class="card-header">
                <h5>Suelte la imagen aqui</h5>
                
            </div>
            <div class="Card-title icono">
                <div appNgDominicodeFiles [files]="files" (mouseOver)="isOverDrop = $event" [ngClass]="{ 'file-over': isOverDrop }" class="drop-zone">
                <img src="../../../assets/subir.png" alt="drop-images" />
                <div class="vr">&nbsp;</div>
                <tr *ngFor="let file of files">
                    <td *ngIf="file.descargarURL | async as descargarURL" >
                     <img src='{{descargarURL}}' alt="drop-images" />
                     </td>
                    </tr>
                </div>
            </div>
        </div>

<div class="row p-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Archivos para subir</h5>
            </div>
            <div class="Card-title subir">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre de la imagen</th>
                            <th></th>
                            <th>Progreso</th>
                            <th></th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let file of files">
                            <td>{{ file.name }}</td>
                            <td></td>
                            <td *ngIf="file.porcentajeSubida | async as porcentajeSubida">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ width: porcentajeSubida + '%' }"> 
                                        {{ porcentajeSubida | number: "1.0-0" }} %
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td *ngIf="file.descargarURL | async as descargarURL">
                                <!-- <a [href]="descargarURL" target="_blank">Download URL</a> -->
                                <button (click)="asignarValor(descargarURL)" class="btn btn-primary">Asignar imagen</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
               <div class="container-buttons">
                    <button (click)="files = []" [disabled]="files.length === 0" class="btn btn-danger" style="margin: 10px">Borrar</button>
                    <button (click)="onUpload()" [disabled]="files.length === 0" class="btn btn-primary">
                        Subir
                    </button>
                </div>
            </div>
        </div>
    </div>
  </div>
    
</div>

</div>
    
