img {
    width: 200px;
    height: 250px;
    /* border-radius: 150px; */
    box-shadow: 0 0 8px 8px white inset;
    
    }
    
    li{
        
        float: left;
        padding: 10px;
        font: italic bold 15px Georgia, Serif;
        /* background-color: #00d2ff; */
        /* border: solid; */
    }
    
    .form-control {
        height: 25px;
        background: #00d2ff;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #928DAB, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    h5 {
        text-align: center;
        /* font-size: xx-large;*/
        font: 20px gotham-regular, sans-serif;
        font-weight: 500;
        padding: 10px; 
        margin: 0;
        
    }
    
    h6 {
        text-align: center;
        padding: 10px;
        font:  20px gotham-bold;
        font-weight: 800;
        margin: 0;
        
        color: rgb(252, 7, 7);
    }
    
    .row {
        padding-top: 15px;
        
    }
     /* ul {
        background: #00d2ff; 
        background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
        background: linear-gradient(to right, #928DAB, #00d2ff);
     } */
     hr {
         margin: 0;
     }

     .shadow {
        position:relative;
     }

     /* Cinta superior izquierda */

     /* .shadow::before {
        position:absolute;
        top:0;
        left:0;
        display: block;
        box-sizing:border-box;
        content:"¡Nuevo!";
        text-transform:uppercase;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
        text-align:center;
        font-weight: 700;
        color: #fff;
        background: transparent; 
        height:0;
        width:150px;                      
        border:25px solid transparent;
        border-bottom:25px solid purple;
        line-height:23px;
        transform: rotate(-45deg);
        left: -40px;
        top: 10px;
    } */

    /* cinta debajo */

    /* .shadow::after {
        position:absolute;
        top:0;
        left:0;
        display: block;
        box-sizing:border-box;
        content:"coca cola";
        text-transform:uppercase;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
        text-align:center;
        font-weight: 700;
        color: #fff;

        background: transparent; 
        height:0;
        width:150px;                      
        border:px solid transparent;
        border-bottom:25px solid rgb(0, 0, 0);
        line-height:23px;
        transform: rotate(0deg);
        box-shadow: 0px 3px 5px -3px #000;
        top: 225px;
    } */

    .cinta {
        position:absolute;
        top:200px;
        left:0px;
        display: block;
        box-sizing:border-box;
        text-transform:uppercase;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
        text-align:center;
        font-weight: 700;
        color: rgb(248, 246, 246);
        background: transparent; 
        height:0;
        width:200px;                      
        border: 25px solid transparent;
        border-bottom:25px solid rgb(0, 0, 0);
        line-height:23px;
        transform: rotate(0deg);
        /* box-shadow: 0px 3px 5px -3px rgb(129, 10, 10); */
        content: "";
        }
        