<app-navbar></app-navbar>
<app-carrusel></app-carrusel>


<h1>Productos</h1><hr class="linea_izquierda"><hr class="linea_derecha">
<br>
<div *ngIf="productos.length > 0; else noproductos" class="row justify-content-center w-100">
    <form *ngFor="let p of productos" class="col-md-2.5">
    <ul >
     <li  class="list-group" *ngIf="user$ | async as user; else loading">
       <div [ngClass]="{oferta: p.oferta}" class="shadow bg-white rounded oferta"> 
        <div class="zoom">
           
           <abbr title="Descripción: {{p.descripcion}}">
               <img [src]="p.imagenUrl" class="imagen" alt="drop-images" (click)="editarProductos($event, p)" />
            </abbr>
        </div>
       <div class="cinta uno">
        <a >{{p.name}}</a>
       </div>
        <h6>RD$ {{p.precio}}.00</h6> 
       </div>
       <div *ngIf="editando && editandoProductos.id == p.id" class="cantidad">
        <form (ngSubmit)="producto.name = p.name; 
        producto.descripcion = p.descripcion; producto.email = user.email; producto.pedido = true; producto.precio = p.precio;
        producto.imageUrl = p.imagenUrl; agregarPedidos()" class="shado bg-white rounded" >

            <div class="form-group">

                <input type="number" name="cantidad"  [(ngModel)]="producto.cantidad" class="form-control" placeholder="cantidad" min="0" />

            <button type="submit" [disabled]="producto.cantidad <= 0"><img src="../../../assets/comprobar.png" class="icono" alt="drop-images"   /></button>
            </div>
    
        </form>
   </div>
    </li>
    </ul>
    </form>
</div> 



<ng-template #noproductos>
    <p>No hay productos</p>
</ng-template>

<app-footer></app-footer>