<app-navbar></app-navbar>

<h5 class="p-2">Productos</h5>
<div *ngIf="productos.length > 0; else noproductos" class="row justify-content-center w-100" >
  <li *ngFor="let p of productos" class="list-group col-md-1.5" >
    <div class="shadow p-3 mb-3 bg-white rounded">
    <div class="card-body mb-1 "  >
        <img [src]="p.imagenUrl" alt="drop-images" class="imagenProducto"/>
    </div>
    <label>Nombre:</label>
    <div class="form-control mb-1" >
        <h6>{{p.name}}</h6> 
    </div>
    <label>Descripción:</label>
    <div class="form-control mb-1">
        <h6>{{p.descripcion}}</h6> 
    </div>
    <label>Cantidad:</label>
    <div class="form-control mb-1">
        <h6>{{p.cantidad}} ud</h6>
    </div>
    <label>Categoria:</label>
    <div class="form-control mb-1">
        <h6>{{p.categoria}}</h6>
    </div>
    <label>Precio:</label>
    <div class="form-control mb-1">
        <h6>RD$ {{p.precio}}.00</h6>
    </div>
        
        <button (click)="borrarProductos($event, p)" class="zafacon" >
            <img src="../../../assets/eliminar.png" class="icono" alt="drop-images" />
        </button>
        <button (click)="editarProductos($event, p)" class="lapiz">
            <img src="../../../assets/editar.png" class="icono" alt="drop-images" />
        </button>
    </div>

       <div *ngIf="editando && editandoProductos.id == p.id">
            <form (ngSubmit)="actualizarProductos()" class="shadow p-3 mb-5 bg-white rounded editar" >
                <div class="card-body mb-1" >
                    <img src='{{p.imagenUrl}}' alt="drop-images" class="imagenProducto"  />
                </div>
                <label>Nombre:</label>
                <div class="form-group mb-1">
                    <input type="text" name="name" [(ngModel)]="editandoProductos.name" class="form-control">
                </div>
                <label>Descripción:</label>
                <div class="form-group mb-1">
                    <input type="text" name="descripcion" [(ngModel)]="editandoProductos.descripcion" class="form-control">
                </div>
                <label>Cantidad:</label>
                <div class="form-group mb-1">
                    <input type="number" name="cantidad" [(ngModel)]="editandoProductos.cantidad" class="form-control"/> 
                </div>
                <label>Categoria:</label>
                <div class="form-group mb-1">
                    <input type="text" name="categoria" [(ngModel)]="editandoProductos.categoria" class="form-control"/> 
                </div>
                <label>Precio:</label>
                <div class="form-group mb-1">
                    <input type="number" name="precio" [(ngModel)]="editandoProductos.precio" class="form-control"/> 
                </div>
                <div class="btn-group" data-toggle="buttons" style="float: left; ">
                    <label class="btn btn-primary active">oferta
                        <input type="checkbox" [(ngModel)]="editandoProductos.oferta" name="oferta" id="" autocomplete="off">
                    </label>
                </div>

                <button type="submit" class="btn btn-success btn-block actualizar">
                    Actualizar
                </button>
                
            </form>
       </div>
    </li>
</div>

<ng-template #noproductos>
    <p>No hay productos</p>
</ng-template>

<app-footer></app-footer>